@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  /* background-color: white; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #d7ebf7 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 201 111 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ffffff var(--tw-gradient-to-position);
}

.card-color {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #d7ebf7 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 201 111 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ffffff var(--tw-gradient-to-position);
}

.card-color-admin {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #ffefdd var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 201 111 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ffffff var(--tw-gradient-to-position);
}
